@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0px;
  padding: 0px;

}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
  background-color:#9289cf7e;
  
}
#logo {

padding: 10px;
 
}
img .logo {
  width: 50px;
  height: 50px;
  flex-direction: row;
  
}
body {
  font-family: Poppins,Arial, Helvetica, sans-serif;
}

nav  {
  display:flex;
  align-items: center;

}

nav a {
  text-decoration: none;
  padding: 15px;
  color:#ffffff;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li{
  list-style: none;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  font-size: 25px;
  font-family: Bebas Neue, arial;
}

#fundo {
  background-image: url("assets/AngelBanner.jpg");
  background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:750px;
}

section {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 750px;

}

.produto {
  display: flex;
  flex-direction:column;
  margin:50px;
  
  
}
.produto h1 {
  color:#ffffff;
  font-size:70px;
  text-shadow: 0px 1px 0px #555555;
  margin-left:60px;
  padding:0px;
 max-width:350px;
}

.produto h2 {
  color:#ffffff;
  font-size:21px;
  margin:50px;
  padding:0px;
  max-width:350px;
  margin-top:30px;
}

#perfume  {
  display:flex;
  flex-direction:row-reverse;
  margin-top: 35px;
}
 img .perfume1 {
   height: 400px;
   width: 400px;
 }

 .description h1 {
   font-size: 50px;
   color: #130e35cd;
   text-align: center;
 }

 .description h2 {
   font-size: 21px;
   margin-top: 25px;
   color:#2d2657c2;
 }

 button {
   margin: 25px;
   margin-top: 25px;
   border-radius: 35px;
   padding: 30px;
   height:100px;
   font-family: Poppins,Arial, Helvetica, sans-serif;
   font-size: 25px;
   color:#31248a4a;
   text-align: center;
   background-color:#c2daf6;
   border-color: #c2daf6;
   border-bottom-left-radius: 1px;
   
 }

 .angels {
   width: 650px;
   height: 450px;
   margin: 15px;
 }
 footer {
   display:flex;
   align-items: center;
 }
 .description1 h1 {
  font-size: 30px;
  color:#130e35cd;
  text-align: center;
 }

 .description1 h2 {
  font-size: 21px;
  margin-top: 25px;
  color:#2d2657c2;
 }
.rodape {
  width:2400px;
  height: 40px;
  background-color:#9289cf7e;
  text-align:start;
  line-height: 40px;
  color:#2d2657c2;
  text-shadow: 0px 1px 0px black;
}