@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inika&family=Poiret+One&family=Taviraj:ital@1&display=swap');
* {
  margin: 0px;
  padding: 0px;

}

header {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 45px;
  background-color:#9289cf7e;
  
}

#logo {
  width:300px;
  height:70px;
 
}
.logo {
  width: 100px;
  height: 70px;

}

body {
  font-family: Poppins,Arial, Helvetica, sans-serif;
}

nav  {
  display:flex;
  align-items: center;

}
nav a:hover{
  background-color: #9c93d0;
}

nav a {
  text-decoration: none;
  padding: 15px;
  color:#ffffff;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li{
  list-style: none;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  font-size: 25px;
  font-family: Bebas Neue, arial;
}

#fundo {
  margin-top: 5px;
  background-image: url("assets/AngelBanner.jpg");
  background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:750px;
}

section {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 750px;

}

.produto {
  display: flex;
  flex-direction:column;
  margin:50px;
  
  
}
.produto h1 {
  color:#ffffff;
  font-size:50px;
  text-shadow: 0px 1px 0px #555555;
  margin-left:60px;
  padding:0px;
 max-width:350px;
}

.produto h2 {
  font-family:Poppins, arial ;
  color:#ffffff;
  font-size:21px;
  margin:50px;
  padding:0px;
  max-width:350px;
  margin-top:30px;
}

#perfume  {
  display:flex;
  flex-direction:row-reverse;
  margin-top: 35px;
}
 .perfume1 {
   height:700px;
   width: 800px;
 }

 .description h1 {
   font-family: Bebas Neue, sans-serif;
   font-size: 50px;
   color: #130e35cd;
   text-align: center;
 }

 .description h2 {
   font-size: 21px;
   margin-top: 25px;
   color:#2d2657c2;
 }

 button {
   margin: 25px;
   margin-top: 25px;
   border-radius: 35px;
   padding: 30px;
   height:100px;
   font-family: Poppins,Arial, Helvetica, sans-serif;
   font-size: 25px;
   color:#f4f5f8;
   text-align: center;
   background-color:#f6c4cf;
   border-color: #c2daf6;
   border-bottom-left-radius: 1px;
   
 }


 .angels {
   width: 691px;
   height: 689px;
   
 }
 
 #angelnova {
  background-image: url("assets/fundo2.jpg");
  background-position:right;
    background-repeat:no-repeat;
    background-size:cover; 
 }
 
 footer {
   display:flex;
   align-items: center;
 }
 
.description1  {
  margin: 15px;
 
}

 .description1 h1 {
   font-family:Bebas Neue, arial;
  font-size: 30px;
  color:#c27ca1;
  text-align:start;
  text-shadow: #9c93d0;
  
  
 }

 .description1 h2 {
  font-family: Poppins, arial;
  font-size: 21px;
  margin-top: 25px;
  color:#ad7db7;
 }

 .description1 h3 {
   font-family: Poppins, arial;
  font-size: 15px;
  margin-top: 25px;
  color:#ad7db7;
 }
 


#bannerfooter {
  margin-top: 15px;
  background-image: url("assets/muglerrodape.jpg");
  background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:380px;
    
}

